body {
    background-color: rgb(170, 194, 240);
    font-family: Verdana;
    font-size: large;
    color: rgb(14, 14, 16);
}
.container {
    max-width: 200px;
    margin:auto;
    height: 15vh;
    display: flex;
    font-family:Tahoma;
}
.content{
    border: 2px solid rgb(80, 68, 109);
    height: 10vh;
    max-width: 100px;
}
.h1-image{
    display:flex;
    align-items:center;
    justify-content:center;
}
.package{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.table{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}



